* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
}

.about-me {
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: left;
  width: 350px;

}

.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

h2 {
  padding: 10px;
}

iframe {
  padding: 10px;
  display: block;
  height: 800px;
  width: 800px;
}
.links {
  padding: 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.me {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.me-pic {
  width: 300px;
}

.project {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


