@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap");

:root {
  --color1-salmon: #ffb5a7;
  --color2-light-peach: #fcd5ce;
  --color3-pale-pink: #f8edeb;
  --color4-davys-grey: #50514f;
  --color5-rich-black: #050609;
  --nav-font: "Oswald", sans-serif;
  --header-font: "Abril Fatface", cursive;
  --content-font: "Roboto Slab", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  background-color: var(--color2-light-peach);
}

a:link {
  color: black;
  text-decoration: none;
  font-family: var(--nav-font);
}

a:visited {
  color: black;
}

.about-me {
  font-family: var(--content-font);
}

.container {
  background-color: var(--color3-pale-pink);
}

h1 {
  font-family: var(--header-font);
  font-size: 50px;
}

h2 {
  font-family: var(--header-font);
}

iframe{
  border-style: none;
}

.project:hover{
  font-weight: bolder;
  transform: scale(1.1);
}

.skills {
  font-family: var(--content-font);
}
