* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  padding: 12px;
}

.about-me {
  display: grid;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.container {
  display: inline-grid;
  grid-template-columns: repeat(1);
  grid-template-rows: 100px repeat(3, 100x) 150px;
  grid-gap: 15px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

.email {
  display: block;
  padding: 10px;
}

.links {
  padding: 10px;
}

.me {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}

.navigation li {
    padding: 10px;
}

picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.skills {
  padding: 10px;
}
.skill-list {
  padding: 10px;
  list-style-type: bullets;
}
