@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --color1-salmon: #ffb5a7;
  --color2-light-peach: #fcd5ce;
  --color3-pale-pink: #f8edeb;
  --color4-davys-grey: #50514f;
  --color5-rich-black: #050609;
}
* {
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  border-radius: 5%;
  background-color: var(--color2-light-peach);
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

.container {
  background-color: var(--color1-salmon);
}

.navigation {
  text-align: center;
  background-color: var(--color2-light-peach);
}

.nav-list {
  text-align: center;
  color: var(--color5-rich-black);
}

header h1 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  padding: 10px
}
h2 {
  font-family: "Abril Fatface", cursive;
}
