@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,700");

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  background-color: pink;
  border-radius: 5%;
}
.container {
  background-color: rgb(212, 121, 136);
}

.navigation {
  text-align: center;
}

.nav-list {
  text-align: center;
}

header h1 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
 h2{
   font-family: 'Abril Fatface', cursive;
 }
